* {
    overflow: hidden;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(20, 20, 20);
    margin-left: 25px;
    margin-right: 25px;
}

iframe {
    width: 800px;
    height: 450px;
}

*::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .center {
    text-align: center;
  }

#home {
    font-style: italic;
    text-decoration: underline;
    color: lightseagreen;
    font-weight: bold;
}

@media screen {
    html {
        font-size: 1.2rem;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
      }
}

